html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  background: #4a5645;
  border: none;
  color: #d8d5db;
  height: 40px;
  width: fit-content;
  padding: 3px;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}
.view {
  margin: 4px;
  padding: 10px;
}
hr {
  width: 75%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #cd5b43;
  height: 3px;
}
img {
  height: 150px;
  width: 180px;
  object-fit: cover;
  object-position: center;
}
.container {
  border: 2px solid yellow;
  width: 200px;
  padding-bottom: 8px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
}
.services-container {
  background-color: #0b1c48;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: fit-content;
  padding: 1.5rem;
  border: 2px solid green;
  margin-bottom: 1rem;
}
.services {
  margin-right: 1rem;
  border: 1px solid yellowgreen;
  /* background-color: aliceblue; */
  padding: 3px;
  text-align: center;
  cursor: pointer;
}
.technology-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: fit-content;
  padding: 1.5rem;
  border: 2px solid green;
}
.technology-card {
  margin-right: 1rem;
  border: 1px solid yellowgreen;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (max-width: 600px) {
  .technology-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: center;
align-items: center; */
    height: fit-content;
    padding: 2px;
    padding: 1.5rem;
    border: 2px solid green;
  }
  .technology-card {
    margin: 7px;
    border: 1px solid yellowgreen;
    text-align: center;
    cursor: pointer;
    padding: 1.5rem;
  }
  .services-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    height: fit-content;
    margin-bottom: 1rem;
    background-color: #14213d;
  }
  .services {
    margin-right: 1rem;
    border: none;
    border-radius: 10px;
    background-color: #142d4a;
    box-shadow: 2px 2px 2px 2px ;
    margin: 9px;
    
    padding: 5px;
    text-align: center;
  }
  .services h4 {
    margin-bottom: 4px;
  }
}
